body{
    font-family: "Libre Baskerville", sans-serif;
   
}
.letra{
    font: size 16px;;
}

.grupo{
    display: block;
    margin-bottom: 15px;

}

input, select, textarea, button {
    display: block;
}

.escondido{
    display: none;
}