body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

/* clase que utilizo para darle propiedades a header-nav-section-footer*/
.caja{
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*----------------el encabezado-----------------------------------------------*/
.header{
    font-size: 30px;
    background-color: #05299E;
    border: 2px saddlebrown;
    height: 120px;
    grid-column: 1 / 5;
    text-align: center;
}
/*---------------------partes del navegador y enlaces de la página------------------------------------------*/
.nav{
    
    background-color: #5E4AE3;
    border: 2px rgb(221, 135, 73);
    height: 350px;
    grid-column: 1 / 5;
}
/* color de las letras de los enlaces*/
.color{
    color: blue;
}
/* color que cambia a colocar el culsor en los links*/
.color:hover{ color: red;}

.lista-horizontal{
    font-size: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px;
    border-radius: 10px;
    background-color: #5E4AE3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.lista-horizontal li {
  padding: 10px 40px;
 
  flex-grow: 0; 
}
.lista-horizontal li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

@media (max-width: 600px) {
    .lista-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lista-horizontal li {
        margin-bottom: 10px;
        padding: 10px 20px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .section{
        height: auto;
    }
}
/*----------------cuerpo-----------------------------------------------*/
.section{
    background-color: #F0E2E7;
    border: 2px saddlebrown;
    height: 2000px;
    grid-column: 1 / 5;
}

.tamañodeimagen{
    width: 200px;
    height: auto;
    margin:5px;
}
/*---------pie de página------------------------------------------------------*/
.footer{
    font-size: 20px;
     align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #777f82;
    border: 2px saddlebrown;
    height: 200px;
    grid-column: 1 / 5;
}




/*---------------------------sacado de una de las clases------------------------------------*/
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "section section"
    "footer footer";
    grid-template-columns:3fr 1fr;
} 


.site-header{
    background: #00ffff;
    color: rgb(161, 20, 20);
    text-align: center;
    padding: 1rem;
    background-color: antiquewhite;
}