body{
    font-family: "Libre Baskerville", sans-serif;
   }

/* clase que utilizo para darle propiedades a header-nav-section-footer*/
.caja{
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*----------------el encabezado-----------------------------------------------*/
.header{
    width: 100%;
    font-size: 30px;
    background-color: #05299E;
    border: 2px solid rgb(73, 90, 167);
    height: 120px;
    grid-column: 1 / 5;
    text-align: center;
}
/*---------------------partes del navegador y enlaces de la página------------------------------------------*/
.nav{
    min-height: 100px;
    background-color: #5E4AE3;
    border: 2px rgb(221, 135, 73);
    grid-column: 1 / 5;
}
/* color de las letras de los enlaces*/
.color{
    color: blue;
}
/* color que cambia a colocar el culsor en los links*/
.color:hover{ 
    color: red;
    text-decoration: underline;
}

.lista-horizontal{
    font-size: 24px;
    list-style: none;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background-color: #5E4AE3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
/* class dedicacado a los elementos de la lista*/
.lista-horizontal li {  
  padding: 10px 40px;
  border: 1px solid #ccc;
  flex-grow: 0; 
}
.lista-horizontal li a {
  text-decoration: none;
  color: white;
  padding: 1px 10px;
}

@media (max-width: 600px) {
    .lista-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lista-horizontal li {
        margin-bottom: 10px;
        padding: 10px 20px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .section{
        height: auto;
    }
}
/*----------------cuerpo-----------------------------------------------*/
.section{
    background-color: #49409e;
    border: 2px saddlebrown;
    height: 2000px;
    min-height: 500px;
    margin-top: 20px;
    grid-column: 1 / 5;
}

.tamañodeimagen{
    width: 200px;
    height: auto;
    margin:5px;
    padding: 1rem;
    border: #7a1992;
    background-color: rgb(71, 97, 153);
}
/*---------pie de página------------------------------------------------------*/
.footer{
    font-size: 20px;
     align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #445358;;
    border: 4px solid rgb(58, 49, 43);
    height: 200px;
    grid-column: 1 / 5;
}